doctype html 
html  
  head
    link(href="app.css" rel="stylesheet")
    title
  body
    section#izq
      div#puntos
        p
          strong 20202002 Millones
        p 
          strong UP
        p
          stong per second: 200
        
        img#ardilla(src="ardilla.png")
          
    section#mid
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      
        
    section#der
      div.update
      div.sep 
      div.update
      div.sep
      div.update
      div.sep
      div.update
      div.sep
      div.update
      div.sep 
      div.update
      div.sep
      div.update
      div.sep
      div.update
      div.sep
      div.update
    
      
    
