doctype html 
html  
  head
    link(href="normalize.css" rel ="stylesheet")
    link(href="app.css" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="app.js")
    script(src="sweetalert.min.js")
    link(rel="stylesheet" href="sweetalert.css")
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, user-scalable=no")
    
    
    title 0
  body
    header 
      div#defaultSkin   NORMAL&nbsp&nbsp
      div#esne ESNE&nbsp  &nbsp  
      div#fic FIC
      div#reset RESET
      div#save  SAVE    &nbsp &nbsp 
      div#mute
        img(src="mute_icon.png")
    section#filtro
    section#izq
      div#puntos
        p
          strong#puntostrue
          normal#unidades unidades
        p 
          strong UP
        p per second: 
          stong#dps 0
          normal#udps unidades
        
        img#ardilla(src="ardilla.png")
          
    section#mid
      div.explicacion
        strong UPGRADES GENERADORES
      div.sep
      div.campo
        div.actualizar#actualizar1 Café+ 1000
        div.actualizar#actualizar2 Café+ 2000
        div.actualizar#actualizar3 Café+ 4000
        div.actualizar#actualizar4 Café+ 8000
        div.actualizar#actualizar5 Café+ 16000
        div.actualizar#actualizar6 Café+ 32000
        div.actualizar#actualizar7 Café+ 64000
        div.actualizar#actualizar8 Café+ 128000
        div.actualizar#actualizar9 Café+ 2560000
      
      div.sep
      div.campo
        div.actualizar#actualizar10 Alum2 5000
        div.actualizar#actualizar11 Alum3 10000
        div.actualizar#actualizar12 Alum4 20000
        div.actualizar#actualizar13 Alum5 40000
        div.actualizar#actualizar14 Alum6 80000
        div.actualizar#actualizar15 Alum7 160000
        div.actualizar#actualizar16 Alum8 320000
        div.actualizar#actualizar17 Alum9 640000
        div.actualizar#actualizar18 Alumni 1.28M
      div.sep
      div.campo
        div.actualizar#actualizar19 Cafet+ 20000
        div.actualizar#actualizar20 Cafet+ 40000
        div.actualizar#actualizar21 Cafet+ 80000
        div.actualizar#actualizar22 Cafet+ 160000
        div.actualizar#actualizar23 Cafet+ 320000
        div.actualizar#actualizar24 Cafet+ 640000
        div.actualizar#actualizar25 Cafet+ 1.28M
        div.actualizar#actualizar26 Cafet+ 2.56M
        div.actualizar#actualizar27 Cafet+ 5.12M
      div.sep
      div.campo
        div.actualizar#actualizar28 Discrimin- 80000
        div.actualizar#actualizar29 Discrimin- 160000
        div.actualizar#actualizar30 Discrimin- 320000
        div.actualizar#actualizar31 Discrimin- 640000
        div.actualizar#actualizar32 Discrimin- 1.28M
        div.actualizar#actualizar33 Discrimin- 2.56M
        div.actualizar#actualizar34 Discrimin- 5.12M
        div.actualizar#actualizar35 Discrimin- 10.24M
        div.actualizar#actualizar36 Discrimin- 20.48M
      div.sep
      div.campo
        div.actualizar#actualizar37 ProfS+ 320000
        div.actualizar#actualizar38 ProfS+ 640000
        div.actualizar#actualizar39 ProfS+ 1.28M
        div.actualizar#actualizar40 ProfS+ 2.56M
        div.actualizar#actualizar41 ProfS+ 5.12M
        div.actualizar#actualizar42 ProfS+ 10.24M
        div.actualizar#actualizar43 ProfS+ 20.48M
        div.actualizar#actualizar44 ProfS+ 40.96M
        div.actualizar#actualizar45 ProfS+ 81.92M
      div.sep
      div.campo
        div.actualizar#actualizar46 Prof+ 1.28M
        div.actualizar#actualizar47 Prof+ 2.56M
        div.actualizar#actualizar48 Prof+ 5.12M
        div.actualizar#actualizar49 Prof+ 10.24M
        div.actualizar#actualizar50 Prof+ 20.48M
        div.actualizar#actualizar51 Prof+ 40.96M
        div.actualizar#actualizar52 Prof+ 81.92M
        div.actualizar#actualizar53 Prof+ 163.84M
        div.actualizar#actualizar54 Prof+ 327.68M
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      
        
    section#der
      div.explicacion 
        strong GENERADORES
      div.sep
      div.update#update1 Cafe
        p#coste1 13
        p#unidades1 unidades
        p#numero1 0
        
      div.sep 
      div.update#update2 Alumnos de Primero
        p#coste2 100
        p#unidades2 unidades
        p#numero2 0
      div.sep
      div.update#update3 Cafetería
        p#coste3 400
        p#unidades3 unidades
        p#numero3 0
      div.sep
      div.update#update4 Porcentaje de mujeres
        p#coste4 1000
        p#unidades4 unidades
        p#numero4 0
      div.sep
      div.update#update5 Profesor Sustituto
        p#coste5 5000
        p#unidades5 unidades
        p#numero5 0
      div.sep 
      div.update#update6 Profesor plasta
        p#coste6 40000
        p#unidades6 unidades
        p#numero6 0
      div.sep
      div.update#update7 Baños
        p#coste7 200000
        p#unidades7 unidades
        p#numero7 0    
      div.sep
      div.update#update8 Decanato 
        p#coste8 1.667 
        p#unidades8 millones
        p#numero8 0 
      div.sep
      div.update#update9 Puente
        p#coste9 123.457
        p#unidades9 millones
        p#numero9 0
      div.sep
      div.update#update10 Dimension-Viernes
        p#coste10 4000
        p#unidades10 millones
        p#numero10 0
      div.sep
      div.update#update11 Fiesta de la Universidad
        p#coste11 75000
        p#unidades11 millones
        p#numero11 0
      div.sep
      div.update
    footer
      a(href="http://ccglp.itch.io" target="_blank") Made by CCGLP
    audio(loop autoplay )
      source(src="background_sound.mp3" type ="audio/mpeg")
    script(src="app.js")
    script(src="updateWarning.js")
    script(src="googleAnalytics.js")
    
      
  
  
    
