doctype html 
html  
  head
    link(href="app.css" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="app.js")
    
    title 0
  body
    section#izq
      div#puntos
        p
          strong#puntostrue
          normal unidades
        p 
          strong UP
        p
          stong#dps per second: 0
        
        img#ardilla(src="ardilla.png")
          
    section#mid
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      div.campo
      div.sep
      
        
    section#der
      div.update#update1 Cafe
        p#coste1 13
        p#numero1 0
      div.sep 
      div.update#update2 Alumnos de Primero
        p#coste2 100
        p#numero2 0
      div.sep
      div.update#update3 Cafetería
        p#coste3 400
        p#numero3 0
      div.sep
      div.update#update4 Porcentaje de mujeres
        p#coste4 1000
        p#numero4 0
      div.sep
      div.update#update5 Profesor Sustituto
        p#coste5 5000
        p#numero5 0
      div.sep 
      div.update
      div.sep
      div.update
      div.sep
      div.update
      div.sep
      div.update
      div.sep
      div.update
      div.sep
      div.update
    script(src="app.js")
      
    
